.graphDisplay {
    height: 40vw ;
    width: 40vw ;
    border-radius: 50%;
    margin: 100px auto;
}
.nodeDiv {
    position: absolute;
    height: 50px ;
    width: 50px ;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid;
    transform-origin: 50% 0%;
    text-align: center;
}
.nodeDivText {
    font-size: 20px;
    position: relative;
}