.graphDisplay {
    height: 40vw ;
    width: 40vw ;
    border-radius: 50%;
    margin: 100px auto;
}
.nodeDiv {
    position: absolute;
    background-color: #F0F8FF;
    height: 50px ;
    width: 50px ;
    margin: 0px;
    border-radius: 50%;
    border: 1px solid;
    transform-origin: 50% 50%;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}
.nodeDivText {
    font-size: 20px;
    position: relative;
}

.edge {
    position: absolute;
    border: 1px solid;
    height: 0px ;
    transform-origin: 0% 0%;
    text-align: center;
    z-index: 0;
    margin:  auto ;
}

.graphSettings {
    border: 1px solid;
    width: 300px  ;
    margin: 0 ;
    margin-top: 50px ;
    margin-left: 50px ;
    padding: 20px ;
    height: 230px ;;
    text-align: left;
    position: absolute;
}
.addEdgeInputDiv {
    display: flex;
    position: relative; 
    top: 25px ;
}
.addEdgeInput {
    width: 40px ;
    margin: 0 10px ;
}
.addEdgeLabel {
    position: relative; 
    top: 25px ;
    font-size: 1.1rem ;
    right: 195px ;
}
.addEdgeBtn {
    
    position: relative; 
    top: 25px ;
}
.nodeLabel {
    font-size: 1.1rem ;
}
.settingsBottomTxt {
    position: relative; 
    top: 25px ;
}
.pathFinderDiv {
    border: 1px solid;
    width: 300px  ;
    margin: 0 ;
    margin-top: 400px ;
    margin-left: 50px ;
    padding: 20px ;
    height: 100px ;;
    text-align: left;
    position: absolute;
}
.primsAlgorithm {
    border: 1px solid;
    width: 300px  ;
    margin: 0 ;
    margin-top: 600px ;
    margin-left: 50px ;
    padding: 20px ;
    height: 100px ;;
    text-align: left;
    position: absolute;
}
.impDijkstraBtn {
    position: relative; 
    top: 35px ; 
}
.distanceDisplay {
    position: absolute;
    width: 100px ;
    height: 50px ;
    right: 100px;
}
.distanceDisplayTxt {
    color: red ;
    font-size: 40px ;
}
.dijkstraBtns {
    display: flex;
}
.clearDijkstraBtn {
    position: relative; 
    top: 35px ;
    left: 40px ;
}
.clearEdgeBtn {
    left: 40px ;
}
.primBtns {
    display: flex;
}
.impPrimBtn {
    position: relative;
    top: 35px ;
}
.clearPrimBtn {
    position: relative;
    top: 35px ;
    left: 40px ;
}
div {
    border-radius: 10px;
}